.who-we-are {
  position: relative;
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* dim the background image */
}

.title {
  color: white;
  font-size: 80px;
}

.subtext {
  color: white;
  font-size: 28px;
}
